packages:
  yum:
    java-11-amazon-corretto.x86_64: []

sources:
  /home/ec2-user: https://vakhnenko.com/deadpool.zip

files:
  /home/ec2-user/hello.sh:
    group: root
    mode: "000755"
    owner: root
    content: |
      #!/bin/bash
      echo "Hello Beans!" > hello.txt

  /home/ec2-user/deadpool2.jpg:
    group: root
    mode: "000444"
    owner: root
    source: https://vakhnenko.com/deadpool.jpg

groups:
  group1: {}
  group2: {}
  group3: {}

users:
  user1: {}
  user2: {}
  user3: {}

commands:
  create_httpd_dir_1:
    command: "mkdir -p /home/ec2-user/config"
  create_httpd_dir_2:
    command: "mkdir -p /home/ec2-user/png"

#container_commands:
#  copy_files_1:
#    command: "cp .ebextensions/* /home/ec2-user/config/"
#  copy_files_2:
#    command: "cp .ebextensions/png/* /home/ec2-user/png/"

#services:
#  sysvinit:
#    httpd:
#      enabled: "true"
#      ensureRunning: "true"

Resources:
  mybucket1:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: beanstalk-ebextensions-us-east-1-730335433249
