packages:
  yum:
    default-jre: []

sources:
  /home/ec2-user: https://vakhnenko.com/deadpool.jpg

files:
  /home/ec2-user/hello.sh:
    group: root
    mode: "000755"
    owner: root
    content: |
      #!/bin/bash
      echo "Hello Beans!" > hello.txt

  /home/ec2-user/deadpool.jpg:
    group: root
    mode: "000444"
    owner: root
    source: /home/ec2-user: https://vakhnenko.com/deadpool.zip

groups:
  administrators: {}
  readonly: {}
  group1: {}
  group2: {}

users:
  user1: {}
  user2: {}
  user3: {}

commands:
  create_httpd_dir:
    command: "mkdir -p /home/ec2-user/httpd"

container_commands:
  copy_files:
    command: "cp .ebextensions/* /home/ec2-user/httpd/"

services:
  sysvinit:
    nfs:
      enabled: "true"
      ensureRunning: "true"

resources:
  my_bucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: beans-extensions-us-east-1-730335433249
